.container{
    display: flex;
    align-items: center;
}
body {
  margin: 0;
  display: inline;
  }
  
  .nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content:space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: #364f6b;
    /* background: linear-gradient(rgba(39,39,39, 0.6), transparent); */
    z-index: 100;
    /*z-index: 1;*/
    border: 1px solid white;
}

.nav-logo img{
  max-height: 150px;
  max-width: 400px;
  margin-top: -25px;
}

.nav-logo p{
  /* color: white; */
  font-size: 25px;
  font-weight: 600;
}
.nav-menu ul{
  display: flex;
  margin-top:auto;
}
.nav-menu ul li{
  list-style-type: none;
}
.nav-menu li .link{
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  padding-bottom: 15px;
  margin: 0 25px;
}
.link:hover, .active{
  border-bottom: 2px solid #fff;
}
.nav-button{
  height: 100%;
  line-height: 110px;
  }
.profile{
  font-size: 35px;
  color: #fff;
}
.nav-menu-btn{
    font-size: 35px;
    color: #fff;
}

  /*Search CSS*/
  .search-container {
    display: flex;
    border: 2px solid #ccc;
    border-radius: 50px;
    overflow: hidden;
    margin-top: 130px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    justify-content: flex-start;
  }
  
  #search {
    padding: 10px;
    border: none;
    width: 95%;
  }
  
  button {
    background-color: #ffffff;
    color: rgb(102, 102, 102);
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  button img {
    width: 20px;
    height: 20px;
  }

  /* card */
  .card-container{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;

  }
  .card {
    max-width: 250px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    margin: 10px;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-content h3 {
    margin-top: 0;
  }
  
  .card-content p {
    color: #555;
    text-align: justify;
  }
  
  .card-content a {
    display: inline-block;
    margin-top: 10px;
    padding: 20px 30px;
    text-decoration: none;
    border-radius: 5px;
  }

 .footer {
    display:inline-flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 1700px;
    left: 7%;
    background-color: transparent;
    font-family: 'poppins', sans-serif;
    font-weight:500;
  }