.container {
  display: flex;
  align-items: center;
}

body {
    margin: 0;
  }
  
/*................. navbar start ...................*/
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 110vh;
  background: white;
  /* background: rgba(39, 39, 39, 0.4); */
}
.nav{
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  line-height: 70px;
  background: #364f6b;
  /* background: linear-gradient(rgba(39,39,39, 0.6), transparent); */
  z-index: 100;
  /*z-index: 1;*/
  border: 1px solid white;
}
.nav .picturel {
  position: relative;
  width: 200px;
  /* height: 49px; */
  margin-top: -24px;
}

.nav .text-wrapper-9 {
  position: relative;
  width: fit-content;
  font-family: "PT Serif", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}
.nav-logo p{
  /* color: white; */
  font-size: 25px;
  font-weight: 600;
}
.nav-menu ul{
  display: flex;
}
.nav-menu ul li{
  list-style-type: none;
}
.nav-menu ul li .link{
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  padding-bottom: 15px;
  margin: 0 25px;
}
.link:hover, .active{
  border-bottom: 2px solid #fff;
}
.nav-button{
height: 100%;
line-height: 110px;
}
.profile{
font-size: 35px;
color: white;
height: 70%;
/* display: flex;
justify-content: center;
align-items: center;
width: 100px; /* Sesuaikan dengan ukuran menu */
/* height: 100px; Sesuaikan dengan ukuran menu 
background-color: white; Warna latar belakang putih */
}
/* .nav-button .btn{
  width: 130px;
  height: 50%;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s ease;
} */
.btn:hover{
  background: rgba(255, 255, 255, 0.3);
}
#registerBtn{
  margin-left: 15px;
}
.btn.white-btn{
  background: rgba(255, 255, 255, 0.7);
}
.btn.btn.white-btn:hover{
  background: rgba(255, 255, 255, 0.5);
}
.nav-menu-btn{
  display: none;
}
/*................. navbar end ...................*/

  /*Search CSS*/
  .pict-container{
    display:flex;
    flex-wrap: wrap;
    margin: 15px;
    padding: 10px;
    justify-content:flex-start;
    
  }
  .flex-item-left{
    flex: 50%;
  }
  .flex-item-right{
    flex: 50%;
    flex-flow: row;
  }
  .flex-item-top{
    flex: 50%;
    flex-flow: column;
  }
  .flex-item-bottom{
    flex: 50%;
    flex-flow: column;
  }

.img-hotel {
  width: 625px;
  height: 360px;
  justify-content: center;

}

.img-hotel2 {
  width: 300px;
  height: 175px;
  padding: 2px;
  justify-content: center;
}

/*Desc CSS*/
.desc-container {
  display: flex;
  
  padding: 10px;
  background-color: #ffffff;
  border: 5px;
}

.tipe {
  font-weight: bolder;
  font-size: larger;
}

.desc {
  flex-basis: 50%;
  margin: 15px;
  background-color: #ddd;
  color: rgb(0, 0, 0);
  text-align: justify;
  padding: 20px;
  border-radius: 5px;
}

.img-product {
  width: 300px;
  height: 200px;
}

.button-edit {
  color: #252847;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  justify-content: right;
  background-color: #252847;
  color: white;
}

.unavailable{
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  justify-content: right;
  background-color: rgb(245, 54, 44);
  color: white;
}

.wrapper {
  display:inline-flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 1800px;
  left: 7%;
  background-color: transparent;
  font-family: 'poppins',sans-serif;
  font-weight: 500;
}