.container{
    display: flex;
    align-items: center;
}
body {
    margin: 0;
  }
  
  .nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: #364f6b;
    /* background: linear-gradient(rgba(39,39,39, 0.6), transparent); */
    z-index: 100;
    /*z-index: 1;*/
    border: 1px solid white;
  }
  
  .nav-logo img{
    max-height: 150px;
    max-width: 400px;
    margin-top: -25px;
  }
  
  .nav-logo p{
    /* color: white; */
    font-size: 25px;
    font-weight: 600;
  }
  .nav-menu ul{
    display: flex;
    margin-top:auto;
  }
  .nav-menu ul li{
    list-style-type: none;
  }
  .nav-menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
  }
  .link:hover, .active{
    border-bottom: 2px solid #fff;
  }
  .profile{
    font-size: 35px;
    color: #fff;
  }
  .nama-hotel{
    margin-top: 120px;
  }
  
  /*Search CSS*/
  .pict-container{
    display:flex;
    flex-wrap: wrap;
    margin: 15px;
    padding: 10px;
    justify-content:flex-start;
    
  }
  .flex-item-left{
    flex: 50%;
  }
  .flex-item-right{
    flex: 50%;
    flex-flow: row;
  }
  .flex-item-top{
    flex: 50%;
    flex-flow: column;
  }
  .flex-item-bottom{
    flex: 50%;
    flex-flow: column;
  }

  .img-hotel{
    width: 625px;
    height: 360px;
    justify-content:center;
    
  }
  .img-hotel2{
    width: 300px;
    height: 175px;
    padding:2px;
    justify-content: center;
  }

  /*Desc CSS*/
  .desc-container{
    display: flex;
    margin: 15px;
    padding: 10px;
    background-color: #ffffff;
    border: 5px;
  }
  .tipe {
    font-weight: bolder;
  }

  .desc{
    flex-basis: 50%;
    margin: 15px;
    background-color: #ddd;
    color: rgb(0, 0, 0); 
    text-align: justify;
    padding: 20px;
    border-radius: 5px;
  }
  .img-product{
    width: 300px;
    height: 200px;
  }

  .button-edit {
    color: #252847;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    justify-content: right;
    background-color: #252847;
    color: white;
}

.wrapper{
  border-top-style:outset;
  margin-top: 100px;
  text-align: center;
}