:root {
    /* fonts */
    --font-poppins: 'Poppins';
    --font-pt-serif: "PT Serif";
  
    /* font sizes */
    --font-size-lg: 18px;
    --font-size-mini: 15px;

    /* Colors */
    --color-white: #fff;
    --color-black: #000;
    --color-gray: #252847;
    --color-whitesmoke: #f5f5f5;

    /* Gaps */
    --gap-31xl: 50px;
    --gap-3xs: 10px;
}

.container {
    display: flex;
    align-items: center;
}

body {
    margin: 0;
    display: inline;
}

.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: #364f6b;
    /* background: linear-gradient(rgba(39,39,39, 0.6), transparent); */
    z-index: 100;
    /*z-index: 1;*/
    border: 1px solid white;
}

.nav-logo img {
    max-height: 150px;
    max-width: 400px;
    margin-top: -25px;
}

.nav-logo p {
    /* color: white; */
    font-size: 25px;
    font-weight: 600;
}

.nav-menu ul {
    display: flex;
    margin-top: auto;
    font-family: var(--font-poppins);
}

.nav-menu ul li {
    list-style-type: none;
}

.nav-menu ul li .link {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}

.link:hover,
.active {
    border-bottom: 2px solid #fff;
}

.nav-button {
    height: 100%;
    line-height: 110px;
}

.profile {
    font-size: 35px;
    color: #fff;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.3);
}

#registerBtn {
    margin-left: 15px;
}

.btn.white-btn {
    background: rgba(255, 255, 255, 0.7);
}

.btn.btn.white-btn:hover {
    background: rgba(255, 255, 255, 0.5);
}

.nav-menu-btn {
    display: none;
}

.hotel-name-container {
    max-width: auto;
    margin: 50px;
    margin-bottom: -30px;
    padding-top: 50px;
}

.hotel-name {
    font-size: 2rem;
    padding: 0px;
    border: 0px;
}

.hotel-address {
    margin-top: -35px;
    padding: auto;
    border: auto;
    font-size: 1.1rem;
    font-weight: 1;
}

.hotel-info-container {
    margin: 50px;
    padding: 5px 20px;
    background-color: #E9EBF8;
    border-radius: 15px;
    float: left;
}

.column {
    max-width: 29%;
    margin: 18px;
    float: left;
}

#column1 img {
    height: auto;
    width: 101%;
}

#column2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

#column2 img {
    width: 100%;
    height: auto;
}

#column3 {
    text-align: left;
    float: left;
    width: 100%;
    padding-left: 40px;
}

.textColumn {
    float: left;
    padding: 10px;
}

.row {
    content: "";
    clear: both;
}

form {
    display: grid;
    grid-gap: 10px;
    max-width: 100%;
    height: auto;
    margin: 50px;
    padding: 5px 20px;
    padding-bottom: 30px;
    background-color: #E9EBF8;
    border-radius: 15px;
}

input {
    height: 30px;
    border-radius: 10px;
    padding: 0px 10px;
    border: none;
    background-color: #fff;
    -webkit-text-fill-color: #000000;
    font-weight: 500;
    font-size: 14px;
}
textarea{
    border-radius: 10px;
    padding: 0px 10px;
    border: none;
    background-color: #fff;
    -webkit-text-fill-color: #000000;
    font-weight: 500;
    font-size: 14px;
    font-family: 'poppins', sans-serif;
}

/* .aditionalInformation {
    margin:  50px;
    padding: 1px ; 
    padding-bottom: 5px;
    background-color: #E9EBF8;
    border-radius: 15px;
    
} */

.priceDetail {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 5px 20px;
    padding-bottom: 50px;
    background-color: #E9EBF8;
    border-radius: 15px;
    float: left;
    width: 89.7%;
}

.column2 {
    max-width: 50%;
    margin: 0px 10px;
    float: left;
}

.column3 {
    margin:20px 90px;
    margin-left: 500px;
    margin-right: 30px;
    float: left;
}

.column3 select {
    font-size: 20px;
    width: 300px;
    margin-bottom: 10px;
    font-weight: bold;
}

.footerText {
    margin: 0px 100px;
    margin-bottom: -50px;
}

u {
    color: blue;
}

.bottom-pay-button {
    text-align: right;
    padding-right: 100px;
}

#pay-button {
    background-color: #364f6b;
    color: white;
    padding: 10px 20px;
    margin-left: 3000px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 50px;
    font-size: 20px;
}