/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:500,700,400|Inter:500,700,400|PT+Serif:400");

body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-pt-serif: "PT Serif";

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-mini: 15px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #364f6b;
  --color-whitesmoke: #f5f5f5;

  /* Gaps */
  --gap-31xl: 50px;
  --gap-3xs: 10px;
}

.pesanan-saya {
  position: absolute;
  top: 170px;
  left: 46px;
  font-size: 36px;
  display: inline-block;
  width: 310px;
  height: 46px;
  font-weight: bold;
}
.the-amrta-hotel-11 {
  position: relative;
  width: 292px;
  height: 201px;
  object-fit: cover;
}
.div,
.nama-hotel {
  position: relative;
}
.div {
  display: inline-block;
  width: 10px;
  height: 18px;
  flex-shrink: 0;
}
.frame-group,
.nama-hotel-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.nama-hotel-parent {
  gap: 78px;
}
.frame-group {
  gap: var(--gap-3xs);
}
.tipe-kamar {
  position: relative;
  display: inline-block;
  width: 116px;
  flex-shrink: 0;
}
.durasi-parent,
.tipe-kamar-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.tipe-kamar-parent {
  gap: var(--gap-31xl);
}
.durasi-parent {
  gap: 118px;
}
.payment-successful-wrapper {
  border-radius: 8px;
  background-color: #009650;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3px 13px;
  color: var(--color-white);
}
.frame-parent,
.frame-parent1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}
.frame-parent {
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.back-wrapper,
.the-amrta-hotel-11-parent {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.the-amrta-hotel-11-parent {
  top: 258px;
  left: calc(50% - 392px);
  border-radius: 15px;
  border: 1px solid var(--color-black);
  justify-content: flex-start;
  padding: 30px;
  gap: var(--gap-31xl);
}
.back-wrapper {
  top: 578px;
  left: calc(50% - 58px);
  border-radius: 999px;
  background-color: var(--color-gray);
  height: 36px;
  justify-content: center;
  padding: 15px 40px;
  box-sizing: border-box;
  color: var(--color-white);
}
.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: #364f6b;
    /* background: linear-gradient(rgba(39,39,39, 0.6), transparent); */
    z-index: 100;
    /*z-index: 1;*/
    border: 1px solid white;
}

.nav-logo img{
    max-height: 150px;
    max-width: 400px;
    margin-top: -25px;
}

.nav-logo p{
    /* color: white; */
    font-size: 25px;
    font-weight: 600;
}
.nav-menu ul{
    display: flex;
    margin-top:auto;
}
.nav-menu ul li{
    list-style-type: none;
}
.nav-menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}
.link:hover, .active{
    border-bottom: 2px solid #fff;
}
.nav-button {
  height: 100%;
  line-height: 110px;
}
.profile{
    font-size: 35px;
    color: #fff;
}
.copyright-2023 {
    /* position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap; */
  position: relative;
  line-height: 27px;
  font-weight: 500;
}
.footer {
  position: absolute;
  top: 1292px;
  left: 7%;
  bottom: 0;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
}
.pesanan-saya-1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1402px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
