/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700,600|Lato:700|PT+Serif:400");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

:root {
  --flowkitpurple: rgba(123, 97, 255, 1);
  --flowkitcharcoal: rgba(34, 34, 34, 1);
  --flowkitred: rgba(252, 85, 85, 1);
  --flowkitgreen: rgba(41, 204, 106, 1);
  --flowkitblue: rgba(0, 153, 255, 1);
  --flowkitwhite: rgba(255, 255, 255, 1);
  --biru-400: rgba(37, 40, 71, 1);
  --biru-200: rgba(32, 131, 222, 1);
  --hijau-100: rgba(43, 165, 190, 1);
}

.home-profile {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home-profile .div {
  background-color: #ffffff;
  width: 1440px;
  height: 2552px;
  position: relative;
}

.home-profile .overlap-group {
  position: absolute;
  width: 1208px;
  height: 260px;
  top: 1056px;
  left: 122px;
}

.home-profile .text-wrapper {
  position: absolute;
  top: 3px;
  left: 1176px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-profile .service {
  display: inline-flex;
  align-items: center;
  gap: 171px;
  position: absolute;
  top: 0;
  left: 0;
}

.home-profile .div-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.home-profile .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: var(--biru-400);
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.home-profile .p {
  position: relative;
  width: 369px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--biru-400);
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-profile .two-service {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  position: relative;
  flex: 0 0 auto;
}

.home-profile .wisata {
  display: flex;
  width: 656px;
  align-items: center;
  gap: 22px;
  padding: 5px 0px;
  position: relative;
  flex: 0 0 auto;
}

.home-profile .img {
  position: relative;
  width: 100px;
  height: 100px;
}

.home-profile .div-3 {
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  flex-grow: 1;
  display: flex;
  position: relative;
}

.home-profile .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Lato", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 25px;
  letter-spacing: 6.25px;
  line-height: 40.5px;
  white-space: nowrap;
}

.home-profile .text-wrapper-4 {
  position: relative;
  align-self: stretch;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.home-profile .penginapan {
  display: flex;
  width: 650px;
  align-items: flex-start;
  gap: 22px;
  padding: 5px 0px;
  position: relative;
  flex: 0 0 auto;
}

.home-profile .line {
  position: absolute;
  width: 1196px;
  height: 2px;
  top: 964px;
  left: 122px;
  object-fit: cover;
}

/*................. navbar start ...................*/
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: white;
    /* background: rgba(39, 39, 39, 0.4); */
}
.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: #364f6b;
    /* background: linear-gradient(rgba(39,39,39, 0.6), transparent); */
    z-index: 100;
    /*z-index: 1;*/
    border: 1px solid white;
}
.nav .picturel {
    position: relative;
    width: 200px;
    /* height: 49px; */
    margin-top: -24px;
  }
  
  .nav .text-wrapper-9 {
    position: relative;
    width: fit-content;
    font-family: "PT Serif", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
.nav-logo p{
    /* color: white; */
    font-size: 25px;
    font-weight: 600;
}
.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    list-style-type: none;
}
.nav-menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}
.link:hover, .active{
    border-bottom: 2px solid #fff;
}
.nav-button .btn{
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}
.nav-button {
  height: 100%;
  line-height: 110px;
}
.profile{
  font-size: 35px;
  color: white;
}

/* sub-menu profile */
.sub-menu-wrap{
  position: absolute;
  top: 100%;
  right: 10%;
  width: 320px;
}

.sub-menu{
  background: #f0d4d4;
  padding: 20px;
  margin: 10px;
}

.user-info{
  display: flex;
  align-items: center;
}

.user-info h3{
  font-weight: 500;
}

.user-info img{
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.sub-menu hr{
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}



.btn:hover{
    background: rgba(255, 255, 255, 0.3);
}
#registerBtn{
    margin-left: 15px;
}
.btn.white-btn{
    background: rgba(255, 255, 255, 0.7);
}
.btn.btn.white-btn:hover{
    background: rgba(255, 255, 255, 0.5);
}
.nav-menu-btn{
    display: none;
}
/*................. navbar end ...................*/

/* .home-profile .navbar {
  position: absolute;
  width: 1440px;
  height: 112px;
  top: 0;
  left: 0;
  background-color: #252847;
} */

.home-profile .text-wrapper-5 {
  position: absolute;
  top: 41px;
  left: 128px;
  font-family: "PT Serif", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.home-profile .menu {
  display: inline-flex;
  align-items: flex-start;
  gap: 34px;
  position: absolute;
  top: 51px;
  left: 506px;
}

.home-profile .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #f5f5f5;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.home-profile .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #f5f5f5;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.home-profile .ellipse {
  position: absolute;
  width: 50px;
  height: 49px;
  top: 39px;
  left: 70px;
}

.home-profile .vector {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 24px;
  left: 1273px;
}

.home-profile .hello {
  display: flex;
  flex-direction: column;
  width: 954px;
  align-items: flex-start;
  gap: 18px;
  padding: 0px 10px;
  position: absolute;
  top: 671px;
  left: 122px;
}

.home-profile .text-wrapper-8 {
  position: relative;
  align-self: stretch;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--biru-400);
  font-size: 18px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.home-profile .btn-about {
  gap: 8px;
  padding: 0px 10px;
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.home-profile .line-2 {
  position: relative;
  width: 45.04px;
  height: 1px;
  object-fit: cover;
}

.home-profile .text-wrapper-9 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--biru-200);
  font-size: 18px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.home-profile .line-3 {
  position: absolute;
  width: 1196px;
  height: 2px;
  top: 1405px;
  left: 124px;
  object-fit: cover;
}

.home-profile .destination {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  position: absolute;
  top: 1497px;
  left: 80px;
}

.home-profile .text-wrapper-10 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.home-profile .kami-memberikan {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home-profile .pict-dest {
  display: inline-flex;
  align-items: flex-start;
  gap: 77px;
  position: relative;
  flex: 0 0 auto;
}

.home-profile .div-4 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  position: relative;
  flex: 0 0 auto;
}

.home-profile .image {
  width: 373px;
  position: relative;
  height: 438px;
  object-fit: cover;
}

.home-profile .text-wrapper-11 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.home-profile .text-wrapper-12 {
  position: relative;
  width: 373px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 27px;
}

.home-profile .image-2 {
  width: 376px;
  position: relative;
  height: 438px;
  object-fit: cover;
}

.home-profile .text-wrapper-13 {
  position: relative;
  width: 376px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 27px;
}

.home-profile .image-3 {
  width: 377px;
  position: relative;
  height: 438px;
  object-fit: cover;
}

.home-profile .text-wrapper-14 {
  position: relative;
  width: 146px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.home-profile .text-wrapper-15 {
  position: relative;
  width: 377px;
  height: 81px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 27px;
}

.home-profile .btn-dest {
  gap: 10px;
  padding: 14px 52px;
  background-color: #364f6b;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.home-profile .text-wrapper-16 {
  line-height: 27px;
  white-space: nowrap;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
}

.home-profile .arrow {
  position: relative;
  width: 17px;
  height: 14.73px;
  margin-right: -1px;
}

.home-profile .footer {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: absolute;
  top: 2452px;
  left: 83px;
  background-color: transparent;
}

.home-profile .line-4 {
  position: relative;
  width: 1277px;
  height: 1px;
  margin-top: -1px;
  object-fit: cover;
}

.home-profile .text-wrapper-17 {
  position: absolute;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  line-height: 27px;
  white-space: nowrap;
  top: 30px;
}

.home-profile .awal {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 142px;
  position: absolute;
  top: 141px;
  left: 155px;
}

.home-profile .travel {
  position: relative;
  width: 290px;
  height: 400px;
  object-fit: cover;
}

.home-profile .deskripsi {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 69px;
  position: relative;
  flex: 0 0 auto;
}

.home-profile .mari-nikmati-liburan {
  position: relative;
  width: 753px;
  height: 231px;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 51px;
  letter-spacing: 0;
  line-height: normal;
}

.home-profile .frame {
  width: 196px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 14px;
  flex: 0 0 auto;
  background-color: #364f6b;
  border-radius: 8px;
  display: flex;
  position: relative;
}

.home-profile .text-wrapper-18 {
  line-height: normal;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
}
