/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Poppins:500,700,400|Inter:500,700,400|PT+Serif:400");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

:root {
  --flowkitpurple: rgba(123, 97, 255, 1);
  --flowkitcharcoal: rgba(34, 34, 34, 1);
  --flowkitred: rgba(252, 85, 85, 1);
  --flowkitgreen: rgba(41, 204, 106, 1);
  --flowkitblue: rgba(0, 153, 255, 1);
  --flowkitwhite: rgba(255, 255, 255, 1);
}

.about {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.about .div {
  background-color: #ffffff;
  width: 1440px;
  height: 2425px;
  position: relative;
}

.about .footer {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 38px;
  position: absolute;
  top: 2313px;
  left: 81px;
  background-color: transparent;
}

.about .line {
  width: 1277px;
  margin-top: -1px;
  position: relative;
  height: 1px;
  object-fit: cover;
}

.about .text-wrapper {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
}

.about .div-2 {
  display: flex;
  flex-direction: column;
  width: 1240px;
  height: 506px;
  align-items: center;
  gap: 40px;
  position: absolute;
  top: 190px;
  left: 78px;
}

.about .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.about .frame {
  display: inline-flex;
  justify-content: center;
  gap: 24px;
  flex: 0 0 auto;
  align-items: center;
  position: relative;
}

.about .div-wrapper {
  display: flex;
  width: 788px;
  height: 296px;
  justify-content: center;
  gap: 10px;
  padding: 50px 30px;
  background-color: #4d8d8d;
  border-radius: 10px;
  align-items: center;
  position: relative;
}

.about .p {
  position: relative;
  width: 758px;
  margin-top: -26px;
  margin-bottom: -24px;
  margin-left: -15px;
  margin-right: -15px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 27px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.about .logo {
  position: relative;
  width: 325px;
  height: 336px;
  object-fit: cover;
}

.about .team {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 748px;
  left: 122px;
}

.about .our-team {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  position: relative;
  flex: 0 0 auto;
}

.about .img {
  position: relative;
  width: 1196px;
  height: 2px;
  margin-top: -1px;
  object-fit: cover;
}

.about .frame-2 {
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  flex: 0 0 auto;
  align-items: center;
  position: relative;
}

.about .frame-3 {
  display: inline-flex;
  justify-content: center;
  gap: 10px;
  padding: 0px 10px;
  flex: 0 0 auto;
  align-items: center;
  position: relative;
}

.about .line-2 {
  width: 80px;
  position: relative;
  height: 1px;
  object-fit: cover;
}

.about .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.about .picture-team {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: relative;
  flex: 0 0 auto;
}

.about .frontend {
  display: flex;
  width: 1128px;
  height: 416px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.about .frame-4 {
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid;
  border-color: #757880;
  box-shadow: 0px 4px 4px #00000040;
  align-items: center;
  position: relative;
}

.about .rectangle {
  position: relative;
  width: 241px;
  height: 226px;
  object-fit: cover;
}

.about .frame-5 {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  flex: 0 0 auto;
  align-items: center;
  position: relative;
}

.about .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
}

.about .text-wrapper-5 {
  position: relative;
  width: fit-content;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.about .frame-6 {
  display: inline-flex;
  justify-content: center;
  gap: 10px;
  padding: 3px 45px;
  flex: 0 0 auto;
  background-color: #838080;
  border-radius: 8px;
  align-items: center;
  position: relative;
}

.about .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.about .backend-qa {
  display: flex;
  width: 1128px;
  height: 417px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.about .rectangle-2 {
  position: relative;
  width: 241px;
  height: 226px;
}

.about .captain {
  display: flex;
  flex-direction: column;
  width: 347px;
  height: 416px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
}

.about .frame-7 {
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  flex: 0 0 auto;
  border-radius: 10px;
  border: 1px solid;
  border-color: #757880;
  box-shadow: 0px 4px 4px #00000040;
  align-items: center;
  position: relative;
}

/*................. navbar start ...................*/
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: white;
    /* background: rgba(39, 39, 39, 0.4); */
}
.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: #364f6b;
    /* background: linear-gradient(rgba(39,39,39, 0.6), transparent); */
    z-index: 100;
    /*z-index: 1;*/
    border: 1px solid white;
}
.nav .picturel {
    position: relative;
    width: 200px;
    /* height: 49px; */
    margin-top: -24px;
  }
  
  .nav .text-wrapper-9 {
    position: relative;
    width: fit-content;
    font-family: "PT Serif", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
.nav-logo p{
    /* color: white; */
    font-size: 25px;
    font-weight: 600;
}
.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    list-style-type: none;
}
.nav-menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}
.link:hover, .active{
    border-bottom: 2px solid #fff;
}
.nav-button{
  height: 100%;
  line-height: 110px;
}
.profile{
  font-size: 35px;
  color: white;
  height: 70%;
  /* display: flex;
  justify-content: center;
  align-items: center;
  width: 100px; /* Sesuaikan dengan ukuran menu */
  /* height: 100px; Sesuaikan dengan ukuran menu 
  background-color: white; Warna latar belakang putih */
}
/* .nav-button .btn{
    width: 130px;
    height: 50%;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
} */
.btn:hover{
    background: rgba(255, 255, 255, 0.3);
}
#registerBtn{
    margin-left: 15px;
}
.btn.white-btn{
    background: rgba(255, 255, 255, 0.7);
}
.btn.btn.white-btn:hover{
    background: rgba(255, 255, 255, 0.5);
}
.nav-menu-btn{
    display: none;
}
/*................. navbar end ...................*/


/* .about .navbar {
  position: absolute;
  width: 1440px;
  height: 112px;
  top: 0;
  left: 0;
  background-color: #252847;
}

.about .menu {
  display: inline-flex;
  align-items: flex-start;
  gap: 34px;
  position: absolute;
  top: 51px;
  left: 506px;
}

.about .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #d2d2d2;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.about .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #f5f5f5;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.about .logo-2 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 39px;
  left: 70px;
}*/

/* .about .ellipse {
  position: relative;
  width: 50px;
  height: 49px;
}

.about .text-wrapper-9 {
  position: relative;
  width: fit-content;
  font-family: "PT Serif", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
} */

/*.about .profil {
  position: absolute;
  width: 60px;
  height: 64px;
  top: 24px;
  left: 1272px;
}

.about .group {
  position: relative;
  height: 64px;
}

.about .icon-menu {
  position: absolute;
  width: 61px;
  height: 64px;
  top: 0;
  left: 0;
} */
